<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body onload="document.f.username.focus();">


<div class="container" style="margin-top: 70px;">
    <div th:replace="fragments/header"></div>


    <div th:fragment="content">
        <form name="f" th:action="@{/login}" method="post" style="width:250px;">
            <fieldset>
                <legend>Please Login</legend>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <table>
                    <tr>
                        <td><label for="username">Username</label></td>
                        <td><input type="text" id="username" name="username"/></td>
                    </tr>
                    <tr>
                        <td> <label for="password">Password</label></td>
                        <td> <input type="password" id="password" name="password"/></td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-primary">Log in</button></td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </div>


    <div th:replace="fragments/footer"></div>
</div>


</body>
</html>