<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">

    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#"> Thymeleaf -
                Plain </a>
            <ul class="nav">
                <li><a th:href="@{/}" href="home.html"> Home </a></li>
                <li><a th:href="@{/listBooks}" > Pagination </a></li>
                <li><a th:href="@{/upload}" > Upload </a></li>
                <li><a th:href="@{/logout}"> logout </a></li>
            </ul>
        </div>
    </div>


    <div id="content">
        <p>

        <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <table>
                <tr>
                    <td>File to upload:</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Upload"/></td>
                </tr>
            </table>
        </form>



        <!--<h1>validation Test</h1>-->
        <!--<form action="#" th:action="@{/api/person/save}" th:object="${person}" method="post">-->
            <!--<p>Password: <input type="text" th:field="*{userPassword}" /></p>-->
            <!--<p>Name: <input type="text" th:field="*{fullName}" /></p>-->
            <!--<p>Last Name: <input type="text" th:field="*{lastName}" /></p>-->
            <!--<p><input type="submit" value="Submit" />-->
                <!--<input type="reset" value="Reset" /></p>-->
        <!--</form>-->


        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
        </p>
    </div>

    <div id="footer">
        <p>

        </p>
    </div>
</div>
</body>
</html>