<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">

    <div th:replace="fragments/header"></div>


    <div id="content" style="margin-top: 70px;">
        <p>

        <form method="POST" enctype="multipart/form-data" action="/upload">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <table>
                <tr>
                    <td>File to upload:</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Upload"/></td>
                </tr>
            </table>
        </form>


        <!--<h1>validation Test</h1>-->
        <!--<form action="#" th:action="@{/api/person/save}" th:object="${person}" method="post">-->
        <!--<p>Password: <input type="text" th:field="*{userPassword}" /></p>-->
        <!--<p>Name: <input type="text" th:field="*{fullName}" /></p>-->
        <!--<p>Last Name: <input type="text" th:field="*{lastName}" /></p>-->
        <!--<p><input type="submit" value="Submit" />-->
        <!--<input type="reset" value="Reset" /></p>-->
        <!--</form>-->


        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
        </p>
    </div>

    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>